@keyframes b {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: #0C0C0C;
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  animation: b 2s forwards;
  text-align: center;
}

.logo-title {
  margin-bottom: 20px;
  font-size: 25px;
  letter-spacing: 3px;
  color: white;
}

.logo-method {
  letter-spacing: 5px;  
  color: rgb(101, 103, 101);
  line-height: 1.8;
}

.logo-btn {
  display: inline-flex;
  margin-top: 25px;
  background: white;
  border: 2px solid white;
  padding: 6px 8px;
  align-items: center;
  cursor: pointer;
  letter-spacing: 1px;
}

.logo-btn a {
  letter-spacing: 2px;
  color: #0C0C0C;
  text-decoration: none;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(101, 103, 101);
  font-size: 12px;
}